button.login {
  margin-left: 11px;
}

.panel {
  border: 1px solid #37a5f3;
  margin: 10px auto;
}

header {
  margin-top: 15px;
}

header h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 15px 0;
  padding: 10px;
}

.active {
  background-color: rgba(240, 255, 255, 0.4);
}

.btn-cauhoi{
  margin: 0 .15em;
  margin-bottom: .3em;
  font-size: 1.2em;
  width: 2.4rem;
}

label.btn-cauhoi input[type=radio]{
  opacity: 0;
}

.ndcauhoi{
  margin: 0 10px;
  display: block;
}